In [2]:
%defaultDatasource jdbc:h2:mem:db

In [15]:
DROP TABLE IF EXISTS Esquizofrenia;
DROP TABLE IF EXISTS SubnutricaoCriancas;

CREATE TABLE Esquizofrenia(
    nomePais VARCHAR(50) NOT NULL,
    anoPesquisa int,
    porcentagemHomens FLOAT,
    porcentagemMulheres FLOAT,
) AS SELECT
    Entity,
    Year, 
    MaleSchizophreniaPerCent,
    FemaleSchizophreniaPerCent
FROM CSVREAD('../data/databasse5_prevalence-of-schizophrenia-in-males-vs-femalesv2.csv');

CREATE TABLE SubnutricaoCriancas(
    nomePais VARCHAR(52) NOT NULL,
    anoPesquisa VARCHAR(9),
    porcentagem VARCHAR(8),
) AS SELECT
    Country,
    Year, 
    Value
FROM CSVREAD('../data/database2_overweight_underweight.csv');

org.h2.jdbc.JdbcSQLException:  IO Exception

In [15]:
SELECT * FROM SubnutricaoCriancas;

In [4]:
DELETE FROM SubnutricaoCriancas SC WHERE SC.porcentagem = 'No data';
SELECT * FROM SubnutricaoCriancas;