In [1]:
%defaultDatasource jdbc:h2:mem:db

In [6]:
DROP TABLE IF EXISTS IDH;
DROP TABLE IF EXISTS Dietas;

CREATE TABLE IDH(
    nomePais VARCHAR(52),
    IDH FLOAT
) AS SELECT
    pais, 
    HDI
FROM CSVREAD('../data/paises_idh.csv');

CREATE TABLE Dietas(
    nomePais VARCHAR(52) NOT NULL,
    nomeGrupo VARCHAR(50) NOT NULL,
) AS SELECT
    Country,
    Category
FROM CSVREAD('../data/comunidade_dietas.csv');

org.h2.jdbc.JdbcSQLException:  Syntax error in SQL statement "CREATE TABLE IDH(

In [ ]:
SELECT * FROM Dietas;

In [ ]:
DROP TABLE IF EXISTS Juncao; 
CREATE TABLE Juncao(
    nomePais VARCHAR(52) NOT NULL,
    IDH FLOAT NOT NULL,
    nomeGrupo VARCHAR(50) NOT NULL,
);

INSERT INTO Juncao (nomePais, IDH, nomeGrupo)
SELECT D.nomePais, I.idh, D.nomeGrupo
FROM Dietas D, IDH I WHERE D.nomePais = I.nomePais;

In [ ]:
DROP TABLE IF EXISTS Caso01;
CREATE TABLE Caso01(
    nomeRange VARCHAR(25),
    IDH_Medio FLOAT
);

INSERT INTO Caso01 (IDH_Medio)
SELECT ROUND(AVG(I.IDH), 4) FROM Dietas D, IDH I WHERE D.nomeGrupo = "nomeDoGrupo1";
UPDATE Caso01 SET nomeRange = "nomeDoGrupo1" WHERE porcentagemOWMedia > 10;

INSERT INTO Caso01 (IDH_Medio)
SELECT ROUND(AVG(I.IDH), 4) FROM Dietas D, IDH I WHERE D.nomeGrupo = "nomeDoGrupo2";
UPDATE Caso01 SET nomeRange = "nomeDoGrupo2" WHERE porcentagemOWMedia > 10;

INSERT INTO Caso01 (IDH_Medio)
SELECT ROUND(AVG(I.IDH), 4) FROM Dietas D, IDH I WHERE D.nomeGrupo = "nomeDoGrupo3";
UPDATE Caso01 SET nomeRange = "nomeDoGrupo3" WHERE porcentagemOWMedia > 10;