In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
--Criando as tabelas principais através do repositório
DROP TABLE IF EXISTS IDH;
DROP TABLE IF EXISTS Dietas;

CREATE TABLE IDH(
    nomePais VARCHAR(52),
    IDH VARCHAR(15)
) AS SELECT
    pais, 
    paises_IDH
FROM CSVREAD('../data/paises_idh.csv');

CREATE TABLE Dietas(
    nomePais VARCHAR(52) NOT NULL,
    nomeGrupo VARCHAR(50) NOT NULL,
) AS SELECT
    name,
    communityId
FROM CSVREAD('../data/comunidade_dietas.csv');

In [3]:
--Normalizando duas linhas da tabela que estava dando problema
DELETE FROM IDH WHERE nomePais = 'Hong Kong' OR nomePais = 'Palestine';
--SELECT * FROM IDH;

In [8]:
SELECT * FROM Dietas;

In [11]:
--Fazendo a Junção entre tabelas
DROP TABLE IF EXISTS Juncao; 
CREATE TABLE Juncao(
    nomePais VARCHAR(52) NOT NULL,
    IDH FLOAT NOT NULL,
    nomeGrupo VARCHAR(50) NOT NULL,
);

--Já inserindo e populando elas
INSERT INTO Juncao (nomePais, IDH, nomeGrupo)
SELECT D.nomePais, I.idh, D.nomeGrupo
FROM Dietas D, IDH I WHERE D.nomePais = I.nomePais;

In [5]:
SELECT * FROM Juncao;

In [12]:
--Queremos verificar se países das comunidades estabelecidas na análise prévia de Grafos possui alguma semelhança de IDH entre si.  
SELECT nomeGrupo, ROUND(AVG(IDH), 4) as idh_medio
FROM Juncao
GROUP BY nomeGrupo;